
<div class="card border-primary mb-3"  style="width: 60rem;">
  <div class="card-header "> asdasd</div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h6 class="card-subtitle mb-2 text-muted">LISTA</h6>
    <div class="my-2 text-left">
        
      <button class="btn btn-rounded btn-primary" type="button"  [routerLink]="[ '/clientes/form']" >Crear cliente </button>
    </div>

    <div *ngIf="clientes?.length==0" class="alert alert-info">
        Nada para mostrar!!!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
        <thead>
          <tr>
            <th>Nombre:</th>
            <th>Apellido:</th>
            <th>id:</th>
            <th>fecha:</th>
            <th>editar</th>
            <th>eliminar</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clientes">
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.id}}</td>
          <td>{{item.fecha}}</td>
          <td>
            <button type="button" name="editar"  [routerLink]="['/clientes/form', item.id ]" class="btn btn-primary" >editar</button>
          </td>
          <td>
            <button type="button" name="eliminar"  (click)='delete(item)' class="btn btn-danger" >eliminar</button>
          </td>
        </tr>

        </tbody>
    </table>
  </div>
</div>

